Scaled Agile Framework
--> ART (Agile Release Train)
--> ART Roles (Release Train Engineer - RTE)
--> Scrum / Agile Team
--> Scrum Master
--> Product Owner
--> Developers


2. Iterations (2 week iterations)
3. Program Increments (5 or 6 or 6.5 iterations)


4. Any organization will have some data 
-- ART --> has "Agile Teams" --> have "SM, PO + Developers".

5. What is the capacity of ART 1?
What is the capacity of ART 2?
What is the capacity of Agile Team x in ART 3?
What is the total capacity for the organization?
How is the capacity trending?

6. We must answer all questions related to the capacity.
-- how do they create the capacity numbers?
-- how is the user interface going to look like?
-- where do we persist the capacity numbers?


7. Data Sources
Note: 8 hours = 1 story point = we should measure the capacity in story points.
-- iteration schedule (dates)  (Program Increment | Iteration | Iteration Start Date | Iteration End Date | Comments)
-- ART, Team, Team Member composition   (ART Name | Scrum Team Name | Team Member Name | Team Member Email | Role)
-- capacities ( ART Name | Team Name | Program Increment | Iteration | capacity)

8. Reports
- show the capacity trend for the entire Orgnization or ART or Team or a person


=================== DESIGN =======================================

1. Have at least 500 employees
2. Have 10 ARTs
3. Assume that each ART has 3 to 6 Scrum Teams
4. Assumethat each Scrum Team has 8 to 12 Team members

===================================================================

HTML UI --> PHP --> Database  (phase 1)
HTML UI --> PHP --> API (python) --> Database (phase 2)

In phase 2: you use the APIs to get the data from your sources (iteration schedule and ART composition).

=========================================================================

FP 2: How is the user interface going to look like?

FP 3:  Database tables with dummy data populated; Initial  UI / web pages





